/**
 * Styles for CPDenver scratch card feature.
 */
 
button.redraw {
  width: 9em;
}

.scratch-card-container {
  margin-top: 1em;
  padding: 1em 0.5em;
}

.scratch-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scratch-cards canvas {
  left: 0;
}

.scratch-card {
  text-align: center;
  margin: 1rem;
}

.scratch-result {
  padding: 0.5em 1em;
  border: 1px solid #000;
  border-radius: 12px;
  display: block;
  text-align: center;
}

.scratch-result.hidden {
  display: none;
}

.winner {
  color: #fff;
  background-color: green;

  a {
    color: #000;
    text-decoration: underline;
  }
}

.loser {
  color: #fff;
  background-color: red;
}